$box: ("width": 350px, "height": 460px,  "bxc": #fff, "br": 1px solid rgba(248, 238, 238, 0.925)); 
$img: ("max-width": 320px, "height": 200px, "pt": 50px, "pl": 40px, "tr": 0.5s); 

$h3: ("col": blue, "fs": 25px, "ta": center); 

$p: ("co":  rgba(37, 35, 35, 0.705),  "fsi": 20px, "tal": center, "po": relative, "b": 60px); 

$secbox4: ("width": 250px, "height": 120px, "radius": 5px, "bxc": #fff, "br": 1px solid  rgba(248, 238, 238, 0.925)); 
$i: ("fsiz": 40px, "posi": relative, "to": 37%, "lef": 35px);

$box4h3:("ta": center, "pos":relative, "bot":50px,"fsi":35px);

$box4p: ("co": rgb(93, 93, 95)  ,  "fsi": 15px, "tal": center, "po": relative, "b": 115px, "lf":10px);

$subbox: ("width": 350px, "height": 470px,  "bxc": red, "br": 1px solid rgba(248, 238, 238, 0.925)); 

$icon: ("height":80px, "width":80px, "bord":5px, "posit":relative, "topp":50px, "lft":130px );


$i2:("fonts":30px, "pos":relative,"lef":25px,"to":25px);

$secstion:("height":520px, "width":90%,"backcol":white,"pos":relative,"lef":70px,"dis":flex);


$h4:("tal":center,"fsi":30px,"col":#444444,"pos":relative,"to":30px);          

$p:("tal":center,"fsi":20px,"col":#444444,"pos":relative,"to":10px);   

$but:("td":none,"pos":relative,"to":20px,"lef":130px,"fsi":20px,"br":none);

$bboxi2:("pos":relative,"lef":5px,"fsi":20px,"to":4px);

$pricebox: ("width": 260px, "height": 620px,  "bxc": white, "br": 1px solid rgba(248, 238, 238, 0.925)); 

$priceh4:("tal":center,"fsi":20px,"color": #07d5c0,"pos":relative,"to":20px);

$price:("fsi":40px,"pos":relative,"lef":90px, );

$boxsup:("fsi":20px,"pos":relative,"leff":10px,"bot":5px);


$pricep:("pos":relative,"lef":60px,"bot":50px,"fsi":20px);

$pimg:("height":100px,"width":120px, "pos":relative,"bot":60px,"lef":60px);

$ph6:("fsi":20px,"tal":center,"pos":relative,"bot":80px,"col":#444444);

$pdel:("tal":center,"pos":relative,"lef":60px,"bot":140px,"fsi":20px,"col": #ccc);


$del:("tal":center,"pos":relative,"lef":50px,"bot":140px,"fsi":20px,"col": #ccc);

$pbutton:("height":50px,"width":160px,"bcol":white,"pos":relative,"lef":40px,"bot":100px,"bra":30px,"bor":1px solid #4154f1,"fsi":20px,"col":#4154f1);

$tsubbox: ("width": 350px, "height": 470px,  "bxc": white, "br": 1px solid rgba(248, 238, 238, 0.925)); 


$ti2:("fonts":25px, "pos":relative,"lef":110px,"to":35px,"col":yellow);


$th3:("tal":center,"pos":relative,"to":70px,"col":#444444);

$timg:("height":100px,"width":100px,"br":50px,"pos":relative,"to":100px,"lef":120px);

$tp:("pos":relative,"lef":150px,"to":100px);

$teambox: ("width": 260px, "height": 520px,  "bxc": white, "br": 1px solid rgba(248, 238, 238, 0.925),"brad":5px); 

$temimg:("height":240px,"width":260px,"bord":5px);


$temh4:("tal":center, "pos":relative,"to":-5px,"col":#aaaaaa);

$temh5:("tal":center, "pos":relative,"to":-30px,"col":#5e5e5e, "fsi":16px);


$tosec:("height":60px,"width":100%,"bcol":white);

$toph5:("fsi":15px,"col":blue,"tal":center);


$mainsubbox:("height":150px,"width":200px,"bcol":#fafbff,"fsi":20px);

$boxh3:("fsi":20px,"col":#012970,"pos":relative,"lef":5px);

$subp:("fsi":14px,"col":#444444,"pos":relative,"lef":5px,"to":-8px);

$subi: ("fsiz":38px,"col":#4154f1,"pos":relative,"lef":5px,"to":5px);



