
   .secstion6{
    height: 650px;
    width: 100%;
        background-color:  white;
            display: flex;
            position: relative;
            left: 80px;

            .secleft{
               height: 520px;
               width: 50%;
               img{
                   height: 328px;
                   width: 90%;
                   position: relative;
                   top: 50px;
                   right: 25px;
               }
            }


            
            .secright{
               height: 520px;
               width: 50%;
               position: relative;
               left: 10px;
             
              .box1{
                       height: 80px;
                       width: 240px;
                       background-color: white;
                       border:  1px solid  rgba(248, 238, 238, 0.925);
                       position: relative;
                       right: 50px;
                       top: 20px;

                   
       .icon{
           height: 35px;
           width: 35px;
           background-color: #ecf3ff;
           position: relative;
           top: 30px;
           left: 10px;

           &:hover{
               background-color: blue;
               color: white;
             
           }
           

           i{
               font-size: 25px;
               position: relative;
               left: 5px;
               top: 5px;

              
           }
       }

       h4{
           text-align: center;
           font-size: 18px;
           color: blue;
           position: relative;
           bottom: 20px;
           left: 5px;
       }
            
                                           
           }
            
              .box2{
               height: 80px;
               width: 240px;
               background-color: white;
               border:  1px solid  rgba(248, 238, 238, 0.925);

               position: relative;
               left: 240px;
               bottom: 60px;


            
       .icon{
           height: 35px;
           width: 35px;
           background-color: #ecf3ff;
           position: relative;
           top: 30px;
           left: 10px;
           
           &:hover{
               background-color: blue;
               color: white;
             
           }

           i{
               font-size: 25px;
               position: relative;
               left: 5px;
               top: 5px;
               
                                       

           }
       }
   

       h4{
           text-align: center;
           font-size: 18px;
           color: blue;
           position: relative;
           bottom: 20px;
           left: 5px;
       }
            
                    

      }

      .box3{
       height: 80px;
       width: 240px;
       background-color: white;
       border:  1px solid  rgba(248, 238, 238, 0.925);
       position: relative;
       bottom: 30px;
       right: 50px;
    

     
       .icon{
           height: 35px;
           width: 35px;
           background-color: #ecf3ff;
           position: relative;
           top: 30px;
           left: 10px;
              
       &:hover{
           background-color: blue;
           color: white;
         
       }

           i{
               font-size: 25px;
               position: relative;
               left: 5px;
               top: 5px;
               



           }
       }

       h4{
           text-align: center;
           font-size: 18px;
           color: blue;
           position: relative;
           bottom: 20px;
           left: 5px;
       }
            
            

     }

     
     .box4{
       height: 80px;
       width: 240px;
       background-color: white;
       border:  1px solid  rgba(248, 238, 238, 0.925);
       position: relative;
       bottom: 110px;
       left: 240px;

       
       .icon{
           height: 35px;
           width: 35px;
           background-color: #ecf3ff;
           position: relative;
           top: 30px;
           left: 10px;
           
           &:hover{
               background-color: blue;
               color: white;
             
           }

           i{
               font-size: 25px;
               position: relative;
               left: 5px;
               top: 5px;
               



           }
       }

       h4{
           text-align: center;
           font-size: 18px;
           color: blue;
           position: relative;
           bottom: 20px;
           left: 5px;
       }
            
            

     }

      
     .box5{
       height: 80px;
       width: 240px;
       background-color: white;
       border:  1px solid  rgba(248, 238, 238, 0.925);
       position: relative;
       bottom: 60px;
       left: 240px;

       
       .icon{
           height: 35px;
           width: 35px;
           background-color: #ecf3ff;
           position: relative;
           top: 30px;
           left: 10px;

           
           &:hover{
               background-color: blue;
               color: white;
             
           }

           i{
               font-size: 25px;
               position: relative;
               left: 5px;
               top: 5px;
               



           }
       }

       h4{
           text-align: center;
           font-size: 18px;
           color: blue;
           position: relative;
           bottom: 20px;
           left: 5px;
       }
            
            

     }


     
     .box6{
       height: 80px;
       width: 240px;
       background-color: white;
       border:  1px solid  rgba(248, 238, 238, 0.925);
       position: relative;
       bottom: 140px;
       right: 50px;


       .icon{
           height: 35px;
           width: 35px;
           background-color: #ecf3ff;
           position: relative;
           top: 30px;
           left: 10px;

           
           &:hover{
               background-color: blue;
               color: white;
             
           }

           i{
               font-size: 25px;
               position: relative;
               left: 5px;
               top: 5px;
               



           }
       }

       h4{
           text-align: center;
           font-size: 18px;
           color: blue;
           position: relative;
           bottom: 20px;
           left: 5px;
       }
            
      
     }


    

            
}

}
