
        .secstion2{
            height: 60px;
            width: 100%;
            background-color: white;

            h5{
                font-size: 15px;
                color: blue;
                text-align: center;
            }
            h2{
                font-size: 40px;
                color: blue;
                text-align: center;
                position: relative;
                bottom: 75px;
            }

}
