

.secstion19{
    height: 150px;
    width: 100%;
    background-color: #f1e3e3;
    position: relative;
    top: 140px;

    h3{
        text-align: center;
        color: black;
        position: relative;
        top: 50px;

        b{
            color: blue;
        }

        secstion{
            color: blue;
        }
    }
}
